.footer-footer {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-main-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-content1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 20PX;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-branding {
  width: 30%;
  height: 30%;
  align-self: center;
  object-fit: cover;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-icon02 {
  width: 24px;
  height: 24px;
}
.footer-icon04 {
  width: 24px;
  height: 24px;
}
.footer-icon06 {
  align-self: flex-start;
}
.footer-categories {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-category {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-links {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-icon08 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-icon10 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
.footer-copyright {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text3 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-subscribe {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 20PX;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  color: rgb(255, 255, 255);
  font-size: 20px;
  max-width: 275px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 30px;
}
.footer-input-field {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
}
.footer-textinput {
  flex: 1;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  outline-style: none;
  background-color: rgba(217, 217, 217, 0);
}
.footer-buy {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #80FF44;
}
.footer-text4 {
  color: rgb(12, 16, 12);
  display: none;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.footer-text5 {
  color: rgb(12, 16, 12);
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.footer-notice {
  color: #686868;
  font-size: 14px;
  max-width: 400px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 21px;
}
.footer-copyright1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text8 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}







@media(max-width: 1200px) {
  .footer-main-content {
    margin-right: 10px;
  }
  .footer-subscribe {
    flex: 1;
    width: auto;
    margin-left: 10px;
  }
}
@media(max-width: 991px) {
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-main-content {
    width: 100%;
    flex-direction: row;
  }
  .footer-copyright {
    display: none;
  }
  .footer-subscribe {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  .footer-main1 {
    align-self: center;
    justify-content: center;
  }
  .footer-notice {
    align-self: center;
  }
  .footer-copyright1 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .footer-content1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .footer-main {
    gap: var(--dl-space-space-twounits);
  }
  .footer-categories {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-buy {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text5 {
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-main-content {
    gap: 0;
    flex-direction: row;
  }
  .footer-content1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-branding {
    width: 60%;
    height: 60%;
  }
  .footer-textinput {
    flex: 1;
  }
  .footer-text4 {
    color: rgb(12, 16, 12);
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
  }
  .footer-text5 {
    color: rgb(12, 16, 12);
    display: none;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
  }
}
